.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xtrap.1
xtrapchar
xtrapchar.1
xtrapin
xtrapin.1
xtrapinfo
xtrapinfo.1
xtrapout
xtrapout.1
xtrapproto
xtrapproto.1
xtrapreset
xtrapreset.1
xtrapstats
xtrapstats.1
*~
*.o
xtrap-*.tar.*
ChangeLog
tags
